

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
</head>
<body>
  <header>
    <h1>Contact Us</h1>
  </header>
  
  <main>
    <section>
      <h2>Contact Information</h2>
      <ul>
        <li><strong>Email:</strong> <a href="mailto:kstoyanovaart@gmail.com">kstoyanovaart@gmail.com</a></li>
        <li><strong>Studio Address:</strong> Burgas, Zornitsa, Bulgaria</li>
      </ul>
    </section>
    
    <section>
      <h2>Social Media</h2>
      <ul>
        <li><a href="https://www.instagram.com/justapageforart/">Instagram</a> @justapageforart</li>
      </ul>
    </section>
    
  </main>
  
 
</body>
</html>