<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us - Artist's Ally</title>
</head>
<body>
  <header>
    <h1>About Us</h1>
    <p class="sub-h1">At Artist's Ally, we celebrate the creativity and talent of self-taught artists from around the world. Whether you're an emerging artist exploring your passion or a seasoned creator honing your craft, our platform provides a welcoming space to showcase and sell your artwork.</p>
  </header>

  <main>
    <section id="mission">
      <h2>Our Mission</h2>
      <p class="centre">We empower self-taught artists by providing them with a platform to share their unique perspectives and talents with the world. Through our blog, we aim to foster a vibrant community where artists can inspire and support each other on their creative journeys.</p>
    </section>

    <section id="sets-apart">
      <h2>What Sets Us Apart</h2>
      <ul>
        <li>
          <h3>Dedicated to Self-Taught Artists</h3>
          <p>Unlike traditional art galleries or platforms, we focus specifically on self-taught artists, recognizing the value and diversity of their artistic expressions.</p>
        </li>
        <li>
          <h3>Showcase and Sell</h3>
          <p>We offer artists the opportunity to showcase their work to a global audience and connect with potential buyers who appreciate and value their creations.</p>
        </li>
        <li>
          <h3>Community Engagement</h3>
          <p>Our platform encourages community engagement through features such as comments, likes, and shares, fostering meaningful connections between artists and art enthusiasts.</p>
        </li>
      </ul>
    </section>
  </main>


</body>
</html>